.footerSecondPartCol1 {
  /* margin-left: 15%; */
}
.footerPara {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 5%;
  color: #f4f4f4;
  padding-right: 35%;
}
.footerHomeListEmail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-left: 0px;
  padding-top: 0px;
  color: #f4f4f4;
  margin-bottom: 3%;
}

.footerLoginButton {
  border: none;
  background: none;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 10px 34px;
  gap: 10px;

  width: 180px;
  height: 48px;

  background-color: #ffffff !important;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #7d89ff;
  text-align: center;

  cursor: pointer;
  background-position: center;
  transition: background 0.8s;
}
.footerLoginButton:hover {
  background: #7d89ff radial-gradient(circle, transparent 1%, #7d89ff 1%)
    center/15000%;
}
.footerLoginButton:active {
  background-color: #7d89ff;
  background-size: 100%;
  transition: background 0s;
}
.footerHome {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 3%;

  color: #ffffff;
}
.footerHomeList {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 3%;

  color: #f4f4f4;
}
.footerButtonDiv {
  padding-top: 3%;
}
.footerCon {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}
.footerContainer {
  background-color: #393e46;
}
.socialMediaLink {
  display: flex;
}
@media (max-width: 1199px) {
  .footerSecondPart {
    margin-top: 5%;
  }
}
@media (max-width: 767px) {
  .footerCol3 {
    margin-top: 4%;
  }
  .footerCol4 {
    margin-top: 4%;
  }
}
@media (max-width: 576px) {
  .footerCol1 {
    margin-top: 4%;
    text-align: center;
  }
  .footerCol2 {
    margin-top: 4%;
    text-align: center;
  }
  .footerCol3 {
    text-align: center;
  }
  .footerCol4 {
    text-align: center;
  }
  .imageDiv {
    text-align: center;
  }
  .footerPara {
    text-align: center;
    /* margin: auto; */
    padding-right: 0px;
  }
  .footerButtonDiv {
    text-align: center;
  }
  .socialMediaLink {
    display: flex;
    justify-content: center;
  }
}
.facebookImg:hover {
  background: #039be5;
  background-image: url("../public/Images/facebookIcon.svg");
  /* border-radius: 10px; */
  box-sizing: none;
  border: 1px solid #039be5;
  transition: 1s ease;
}
.twitterImg:hover {
  background: #039be5;
  background-image: url("../public/Images/twitterIcon.svg");
  /* border-radius: 10px; */
  box-sizing: none;
  border: 1px solid #039be5;
  transition: 1s ease;
}
.linkdinImg:hover {
  background-color: #039be5;
  border: #039be5;
  /* border-radius: 10px; */
  transition: 1s ease;
}
.instagramImg:hover {
  border: #039be5;
  z-index: 1233434;
  transition: 1s ease;
  background-image: url("../public/Images/instaIcon.svg");
}

.facebookImg {
  cursor: pointer;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 7px 10px 7px 10px;
}
.twitterImg {
  cursor: pointer;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 7px 7px 7px 7px;
}
.linkdinImg {
  cursor: pointer;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 7px 7px 10px 7px;
}
.instagramImg {
  cursor: pointer;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 7px 7px 7px 7px;
}
