html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Mada";
  src: local("Mada Regular 400"),
    url("../public/Font/Mada Regular 400.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular 400"),
    url("../public/Font/Poppins Regular 400.ttf") format("truetype");
  font-weight: normal;
}

.navbar-light .navbar-toggler {
  color: #ab40ff !important;
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%) !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  opacity: 1 !important;
  font-size: 20px;
  line-height: 1;

  color: black !important;
  color: blue !important;
  /* background-color: blue; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.middleCat .slick-prev:before {
  content: url("../public/Images/prevArrow.svg") !important;
}
.middleCat .slick-next:before {
  content: url("../public/Images/nextArrow.svg") !important;
}
.middleCat .slick-prev {
  left: -20px !important;
  z-index: 132242424;
}
.middleCat .slick-next {
  right: -10px !important;
  z-index: 132242424;
}
.tshirtArrow .slick-prev:before {
  content: url("../public/Images/prevTshirt.svg") !important;
}
.tshirtArrow .slick-next:before {
  content: url("../public/Images/nextTshirt.svg") !important;
}
.recommendArrow .slick-prev:before {
  content: url("../public/Images/reccomendPrevArrow.svg") !important;
}
.recommendArrow .slick-next:before {
  content: url("../public/Images/reccomendNextArrow.svg") !important;
}
.shopArrow .slick-prev:before {
  content: url("../public/Images/shopArrow.svg") !important;
}
.shopArrow .slick-next:before {
  content: url("../public/Images/shopArrow1.svg") !important;
}
.bannerArrow .slick-prev::before {
  content: url("../public/Images/bannerArrownext.png");
}

.bannerArrow .slick-next::before {
  content: url("../public/Images/bannerArrowPrev.svg");
}
.bannerArrow .slick-prev {
  left: -14px !important;
  z-index: 132242424;
}
.bannerArrow .slick-next {
  right: -10px !important;
  z-index: 132242424;
}
.recommendArrow .slick-prev {
  left: -10px !important;
  z-index: 132242424;
}
.recommendArrow .slick-next {
  right: 14px !important;
  z-index: 132242424;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.slick-arrow .slick-prev {
  display: block !important;
  z-index: 143343434 !important;
}
.accordion-item {
  background-color: #fff;
  border: none !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  padding-left: 0px !important;
}
.accordion-body {
  padding: 0px !important;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: lightseagreen !important;
  font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link.active .dot,
.navbar-expand-lg .navbar-nav .nav-link.focus .dot {
  color: #5463ff !important;
  visibility: visible !important;
  /* border-bottom: 1px solid #5463ff; */
  font-weight: bolder !important;
}
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link.focus {
  color: #5463ff !important;
  visibility: visible !important;
  /* border-bottom: 1px solid #5463ff; */
  font-weight: bolder !important;
}
.cardImage:focus-visible {
  background-color: #5463ff !important;
}
.navbar-nav .nav-link:active,
.navbar-nav .nav-link.focus {
  padding-right: 0;
  padding-left: 0;
  color: #5463ff !important;
  font-weight: bolder !important;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-check-input {
  width: 18px !important;
  height: 18px !important;
  margin-top: 4%;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solidrgba (0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* padding: 1rem 1.25rem; */
  font-size: 1rem;
  color: #5463ff !important;
  text-align: left;
  background-color: #f4f4f4 !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("../public/Images/accordionButton.png") !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.flipX {
  animation: 6s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: blue !important;
}
.offcanvas-start {
  top: 0;
  left: 0;
  width: 400px;
  border-right: 1px solid rgba (0, 0, 0, 0.2);
  transform: translateX(-100%);
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
}
.dot {
  height: 9px;
  width: 9px;
  background-color: #7d89ff;
  border-radius: 50%;
  display: flex;
  align-self: center;
  justify-self: center;
  /* margin: auto; */
  margin-top: 19% !important;
  margin-left: 16px;
  visibility: hidden;
}
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: end !important;
  padding: 1rem 1rem;
}
.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url(../public/Images/hambClose.svg) no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
