.bannerTitle {
  font-family: "Mada";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #ffffff;
  color: #0000;

  animation: 2s anim-lineUp ease-out infinite;
}
.typewriterDiv {
  font-family: "Mada";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #ffffff;
}
/* @keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
    color: #7d89ff;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
    color: white;
  }
} */
.bannerCol1 {
  padding-top: 9%;
}
.bannerDetail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #dddddd;
}
.bannerButton {
  /* border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 10px 34px;

  width: 180px;
  height: 48px;

  background-color: #ffffff !important; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 20px;
  background: white;
  border-radius: 5px;
  border: none;
  background-position: center;
  transition: background 0.8s;
  width: 180px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #7d89ff;
  box-shadow: inset 0 0 0 0 purple;
}

.bannerButton:hover {
  background: #7d89ff radial-gradient(circle, transparent 1%, #7d89ff 1%)
    center/15000% !important;
  color: white !important;
}
.bannerButton:active {
  background-color: #7d89ff !important;
  background-size: 100% !important;
  transition: background 0s !important;
}

.listH6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.shirtDiv {
  padding-left: 10px;
  padding-top: 20%;
}
.bannerSecondPart {
  /* margin-right: 3%; */
  margin-left: 15%;
}
.bannerCon {
  padding-top: 7%;
  padding-bottom: 7%;
}
.bannerContainer {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
}
.girlImg {
  margin-left: 30%;
}
@media (max-width: 1199px) {
  .bannerSecondPart {
    display: none;
  }
  .girlImg {
    margin-left: 87%;
  }
  .imageSlider {
    margin-top: -81% !important;
    left: 117% !important;
  }
}
@media (max-width: 992px) {
  .bannerDetail {
    font-size: 16px;
    /* text-align: center; */
  }

  .bannerCol1 {
    padding-top: 19%;
  }

  .girlImg {
    margin-left: 38%;
  }
  .imageSlider {
    left: 76% !important;
    margin-top: -113% !important;
  }
  .typewriterDiv {
    font-size: 22px !important;
    line-height: 36px;
  }
}
@media (max-width: 767px) {
  .bannerSecondPart {
    display: none;
  }

  .bannerDetail {
    text-align: center;
    margin-top: 3%;
  }
  .bannerButton {
    text-align: center;
    margin: auto;
  }
  .bannerCol1 {
    padding-top: 0px;
  }
  .typewriterDiv {
    font-size: 37px !important;
    text-align: center;
  }
  .girlImg {
    margin-top: 6%;
    margin-left: 23%;
  }
  .imageSlider {
    left: 45% !important;
    margin-top: -56% !important;
  }
}
@media (max-width: 578px) {
  .typewriterDiv {
    font-size: 24px !important;
    line-height: 20px;
  }
  .bannerDetail {
    margin-top: 4%;
  }
  .girlImg {
    margin-left: 1% !important;
    height: 100%;
    width: 100%;
  }
  .imageSlider {
    left: 11% !important;
    margin-top: -35% !important;
  }
}
@media (max-width: 1329px) {
}
/* last component css */
.modelContainer {
  margin-top: 5%;
  padding-bottom: 6%;
}
.modelH3 {
  font-family: "Mada";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height */

  /* Dark color */

  color: #0d1222;
}
.modelPara {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-right: 90px;

  color: #646464;
}
.buttonLogin {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  border: none;
  color: #ffffff;
  padding: 10px 34px;
}

.ShirtImage {
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .modelH3 {
    font-size: 30px;
  }
  .modelPara {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .modelH3 {
    text-align: center;
  }
  .modelPara {
    text-align: center;
    padding-right: 0px;
  }
  .modelButton {
    text-align: center;
  }
  .Modelcol2 {
    margin-top: 3%;
  }
}
.imageGirl {
  position: relative;
}
.imageSlider {
  position: absolute;
  width: 290px;
  height: 80px;
  margin-top: -60%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
  transform: rotate(-0.57deg);
  /* margin-top: 5%; */
}
.firstSliderImage {
  height: 80px;
  width: 80px;
}
.secondSliderImage {
  height: 80px;
  width: 80px;
}
@media (max-width: 420px) {
  .typewriterDiv {
    font-size: 15px;
    text-align: center;
    line-height: 25px;
  }
  .modelContainer {
    margin-top: 8%;
  }
  .Modelcol2 {
    margin-top: 8%;
  }
  .imageSlider {
    width: 80% !important;
    margin-top: -42% !important;
  }
  .firstSliderImage {
    width: 90%;
    height: 90%;
    margin-top: 10%;
  }
  .secondSliderImage {
    width: 90%;
    height: 90%;
    margin-top: 10%;
  }
}
